includes:
    - ../../vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	checkGenericClassInNonGenericObjectType : false
	paths:
		- ../../inc
	scanDirectories:
		- ../../vendor/mwf/wplib/deps
		- ../../../../plugins/elementor
		- ../../../../plugins/elementor-pro